.server {
  padding-top: 50px;
  padding-left: 50px; }

#appeltje-z span {
  vertical-align: middle;
  font-size: 30px; }

#appeltje-z img {
  vertical-align: middle; }

body {
  font-family: "Lucida Console", monospace; }

form {
  padding: 5px; }

.field-block {
  font-size: 20px;
  padding: 10px 0; }
  .field-block label {
    width: 200px;
    display: inline-block; }
  .field-block input[type="text"],
  .field-block input[type="number"] {
    outline: 0;
    border: 0;
    border-bottom: 5px solid #000;
    padding: 0 10px;
    font-size: 20px; }

button[type="submit"] {
  font-size: 20px;
  margin: 20px 0;
  background-color: #000028;
  color: white;
  border: 0;
  outline: 0;
  padding: 5px 20px;
  font-family: "Lucida Console", monospace;
  cursor: pointer; }

select {
  font-family: "Lucida Console", monospace;
  font-size: 20px; }

header {
  margin-bottom: 50px; }

.logo-wrapper {
  width: 250px;
  display: inline-block;
  vertical-align: middle; }
  .logo-wrapper img {
    width: 100%; }

.title-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-left: 50px; }
  .title-wrapper h1 {
    display: inline-block; }
